html {
    font-family: 'News Cycle', sans-serif;
    font-size: xx-large;
}

body {
    background-color: #efefef;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: x-large;
}

.iframe-container {
    text-align: center;
}

iframe {
    display: block;
    background: #000;
    border: none;
    height: calc(100vh - 330px);
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    text-align: center;
    color: white;
}

.footer a {
    color: white;
}

a.github-link{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.llama-container {
    position: fixed;
    height: 2em;
    right: 10px;
    bottom: 10px;
}

.llama-container img {
    height: 100%;
}
