* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #efefef;
  width: 90%;
  margin: 50px auto 0 auto;
  font-family: 'News Cycle', sans-serif;
  font-size: xx-large;
}

h1 {
  margin: 0;
}

.video-and-info div:not(:first-child) {
  margin: 0 0 0 20px;
}

.video-and-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  text-align: center;
  color: white;
}

.footer a {
  color: white;
}

a.github-link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.llama-container {
  position: fixed;
  height: 2em;
  right: 10px;
  bottom: 10px;
}

.llama-container img {
  height: 100%;
}
